<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename = 'js/sign.js') }}" ></script>   
        <link href="{{ url_for('static', filename='css/sign.css') }}" rel="stylesheet"> 
    </head>
    <body>
        <header>


        </header>
        <article>
                <div class="container">
                        <div class="form-container">
                        
                            <h2>点滴记忆</h2>
                            <br>
                            <!-- Nav pills -->
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#signin">登录</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#signup" onclick="myonclick()">注册</a>
                                </li>
                            </ul>
                        
                          <div class="tab-content" >
                            <div id="signin" class="container tab-pane active"><br>
                              <div id="signin_err" ></div>
                              <form action="signin" method="post" name="signin_form" >
                                <label for="inputEmail" class="sr-only">邮箱</label>
                                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="电子邮箱" required autofocus>
                                <label for="inputPassword" class="sr-only">密码</label>
                                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="密码" required>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" value="1" name="remember_me"> 记住
                                  </label>
                                  <a class="btn btn-default btn-md forget_password" href="/auth/forgetPassword"  target="_blank">
                                  忘记密码？
                                </a>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return signin_onclick();">登录</button>
                              </form>
                            </div>
                  
                            <div id="signup" class="container tab-pane fade"><br>
                              <form name="signup_form" action="signup" method="post" >
                                <fieldset class="form-group is-invalid">
                                  <label for="username" >用户名</label>
                                  <input type="text" id="username" name="username" class="form-control" placeholder="用户名" onblur="username_onblur(this.id)" required autofocus>
                                  <div id="username_feedback"></div>
                                </fieldset>
                                <fieldset class="form-group">
                                  <label for="signupEmail" class="control-label is-invalid" >电子邮箱</label>
                                  <input type="email" id="signupEmail" name="signupEmail" class="form-control" placeholder="电子邮箱" onblur="signupEmail_onblur(this.id)" required>
                                  <div id="email_feedback"></div>
                                </fieldset>
                                <fieldset class="form-group">
                                  <label for="firstPassword" >密码</label>
                                  <input type="password" id="firstPassword" name="firstPassword" class="form-control" placeholder="密码" onblur="signupPassword_onblur(this.id, 'secondPassword')" required>
                                  <div id="first_feedback"></div>
                                  <label for="secondPassword" >重复密码</label>
                                  <input type="password" id="secondPassword" name="secondPassword" class="form-control" placeholder="重复密码" onblur="signupPassword_onblur('firstPassword',this.id)" required>
                                  <div id="second_feedback"></div>
                                </fieldset>
                                <div class="form-inline" >
                                    <div class="form-group" style="width:60%;">
                                        <label class="sr-only" for="captchaInput"></label>
                                        <div class="input-group">
                                          <div class="input-group-addon">验证码</div>
                                          <input type="text" class="form-control" id="captcheInput" name="captcha" placeholder="输入验证码" onblur="captcha_onblur(this.id)">
                                          
                                        </div>
                                      </div>
                                      <button id="getCaptcha" type="button" class="btn btn-primary" style="width:38%;font-size:0.8rem;height:2.5rem;" onclick="get_captcha(this.id)">点击发送验证码</button>
                                      <div id="captcha_feedback" class="captcha_err_display invalid-feedback"></div>
                                    </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return signup_onclick();">注册</button>
                              </form>
                            </div>   
                          </div>
                        </div>
                      </div> <!-- /container -->
                    
                    
        </article>
        <footer>

        </footer>
    </body>
</html>