{% extends "blogbase.html" %}
{% block addhead %}
<title>博客随笔</title>
<link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'js/blog.js') }}" ></script> 
{% endblock %}
{% block container %}
<div class="writearticle">
        <a class="btn btn-default btn-md" href="/write?action=blog" target="_blank">
            <i class="fa fa-pencil fa-fw" aria-hidden="true">&nbsp;写博客</i>
        </a>
    </div>
<p class="declare">{{tips}}</p>
<hr >


{% endblock %}
{% block bodyscript %}
<script>
    window.onload = function() {
          addIterm();
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        (function(){
            window.scrollReveal = new scrollReveal({reset: true});
        })();
        };
    };
</script> 


{% endblock %}